@model List<Cat>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card-columns">
@foreach(var item in Model)
{
  <div class="card" style="width: 18rem;">
    <img src="@Url.Content(item.ProfilePicture)" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@item.Name</h5>
        <p class="card-text">@item.Description</p>
        <a asp-controller="Animal" asp-action="Edit" asp-route-id="@item.CatId" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
}
</div>